<footer class="footer-area">
    <div class="container">
        <!-- Footer Content Start -->
        <div class="footer-content text-center section-padding">
            <h4 class="footer-content__sub-title">Thank for watching</h4>
            <h3 class="footer-content__title">
                Furnix is a versatile and dynamic HTML website crafted exclusively for you.
            </h3>
        </div>
        <!-- Footer Content End -->

        <!-- Footer Copyright Start -->
        <div class="footer-copyright">
            <div class="copyright-text">
                <p>
                    &copy;
                    <script>
                        document.write(new Date().getFullYear() + " ")
                    </script>
                    <span> Furnix </span> Made with
                    <i class="lastudioicon-heart-1"></i> by
                    <a href="https://hasthemes.com/">HasThemes</a>
                </p>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
</footer>
